<div class="article-detail">
    <div class="detail-head">
        <div class="avatar"><img src="http://temp.im/100x100" alt=""></div>
        <div class="article-date"><span class="article-day">{{transMonth month}} {{day}}.</span><span class="article-year">{{year}}</span></div>
    </div>
    <div class="detail-body">
        <h1>{{title}}</h1>
        <div class="article-content markdown-body">
{{{post}}}
        </div>
    </div>
</div>