<div class="article-list-wrap">
    {{#each list}}
    <div class="article-list-item">
        <div class="article-date">
            <span class="article-day">{{transMonth month}} {{day}}.</span><span class="article-year">{{year}}</span>
        </div>
        <div class="aritcle-title">
            <h2><a href="/post/{{name}}">{{title}}</a></h2>
        </div>
        <div class="article-content markdown-body">
            {{{content}}}
        </div>
    </div>
    {{/each}}
</div>